@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/toastr")
@Scripts.Render("~/bundles/angular")
<div id="giapha">
    <div data-ui-view="header"></div>
    <div data-ui-view="content"></div>
</div>
<script src="~/Scripts/apps/init.js" type="text/javascript"></script>
<script src="~/Scripts/apps/giapha/init.js" type="text/javascript"></script>
<script src="~/Scripts/apps/giapha/constant.js" type="text/javascript"></script>
<script src="~/Scripts/apps/giapha/config.js" type="text/javascript"></script>
<script src="~/Scripts/apps/giapha/httpService.js" type="text/javascript"></script>
<script src="~/Scripts/apps/giapha/factory.js" type="text/javascript"></script>
<script src="~/Scripts/apps/giapha/directive.js" type="text/javascript"></script>
<script src="~/Scripts/apps/giapha/controller.js" type="text/javascript"></script>
<script src="~/Scripts/apps/giapha/app.js" type="text/javascript"></script>